include_dirs:
    - "include"
    - "_build/default/lib/*/include"
    - "_checkouts/*/include"
deps_dirs:
    - "_build/default/lib/*"
    - "_checkouts/*"
apps_dirs:
    - "_build/default/lib/*"
providers:
    disabled:
        - document-formatting
        - document-range-formatting
diagnostics:
    enabled:
        - crossref
        - compiler
